<?xml version="1.0"?>
<configuration>
    
    <connectionStrings>
        <add name="SMVDU_CON_STRING" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\db_institute.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <roleManager defaultProvider="AspNetWindowsTokenRoleProvider" />
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
